:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}